.container
  .row.success
    .col-xs-12
      %h1.text-center Success!
      .row
        .col-xs-12
          =image_tag "tick_circle_aqua_240.png", class: "center-block img-responsive"
        .col-xs-12
          %h3.text-center
            You will receive a booking confirmation email shortly!
        .col-xs-12
          %h3.text-center
            = link_to "Back to Movers List", movers_path