.lead
  %ul.list-unstyled
    %li
      %strong= "#{from.titleize} → #{to.titleize}"
  %hr
    %div{"data-ng-repeat" => "service in services"}
      %p
        {{ service.category }} Services
      %ul.list-unstyled{"data-ng-repeat" => "item in service.items"}
        %li
          %input{type: :checkbox, id: "{{ item.id }}", name: "{{ item.id }}", "data-ng-model" => "filteredServices[item.id]"}
          %label{for: "{{ item.id }}"} {{ item.name }}