.row.brand-color
  .col-lg-12
    %ul.nav.nav-pills.nav-justified
      %li
        %a.text-white{href: "/"}
          = "© #{Date.today.year}  Mule Moving"
      %li
        %a.text-white Privacy
      %li
        %a.text-white Terms of Service