.navbar{role: "navigation", class: navbar_class}
  .container
    = link_to root_path, class: "logo brand" do
      = image_tag "mule_logo.png", class: "logo"
    %p.navbar-text.pull-right
      Mover?
      %a.navbar-link{href: "mailto:team@mulemoving.com?Subject=Mule%20Moving"} Contact Us
