.navbar.navbar-default.navbar-static-top{role: 'navigation'}
  .container
    %ul.nav.navbar-nav
      %li
        = link_to 'Mule', root_path
    %p.navbar-text.navbar-right
      Mover?
      %a.navbar-link{href: 'mailto:team@rawlabs.co?Subject=Mule%20Moving'} Contact Us