%section.row.landing-section
  .container
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-4.col-md-4
          %h2 Transparency
          %p.lead
            Transparency is about keeping you informed of every option you have at each step of the process.
        .col-xs-12.col-sm-4.col-md-4
          %h2 Pricing
          %p.lead
            Pricing is at our core, because you should be able to compare movers effectively without any surprises.
        .col-xs-12.col-sm-4.col-md-4
          %h2 Convenience
          %p.lead
            Convenience is providing you with one place for the whole process, and opening channels of communication.
