%section.row.brand-color
  .container
    %h2.text-right Recent Moves
    .row
      .col-xs-12
        .panel.panel-default
          .panel-body.white
            %h2.text-hero-color 3bedroom House: $1,789
            %h2.text-hero-color 2bedroom Apartment(with Cleaning): $1,800
            %h2.text-hero-color 1bedroom Apartment(with Cleaning/furniture dissasembly/packing): $1,624
