.row#hero
  .container
    .title.text-center
      Find your perfect mover

    = form_tag movers_path, method: :get do
      .col-xs-12.col-md-4.col-md-offset-2
        = text_field_tag :from, 'Boulder', readonly: true, data: {label: "From:"}
      .col-xs-12.col-md-4
        = text_field_tag :to, nil, placeholder: 'To', data: {label: "To:"}
      .col-xs-12.col-md-4.col-md-offset-4
        = submit_tag :discover, value: 'Discover', name: nil, class: "btn-discover"
