%section.hero#hero
  .container
    .row
      .title.text-center
        Find your perfect mover
      = form_tag movers_path, method: :get do
        = text_field_tag :from, "Boulder", readonly: true, data: {label: "From:"}
        = text_field_tag :to, nil, placeholder: "To", autofocus: true, data: {label: "To:"}
        = submit_tag :discover, value: "Discover", name: nil, class: "btn-discover"

%section.row
  .container
    .col-xs-12.col-md-12
      .col-xs-12.col-sm-4.col-md-4.explainer
        %h2 Transparency
        %p.lead
          Transparency is about keeping you informed of every option you have at each step of the process.
      .col-xs-12.col-sm-4.col-md-4.explainer
        %h2 Pricing
        %p.lead
          Pricing is at our core, because you should be able to compare movers effectively without any surprises.
      .col-xs-12.col-sm-4.col-md-4.explainer
        %h2 Convenience
        %p.lead
          Convenience is providing you with one place for the whole process, and opening channels of communication.

:javascript
  $(document).ready(function(){
    $("#hero input").floatlabel({
      slideInput: false,
      paddingOffset: "5px",
      labelStartTop: "30px",
      labelEndTop: "0px"
    });
  });
