.services-sidebar {
	margin-bottom: 20px;

	.filter-header {
		hr {
			margin-top: 10px;
			margin-bottom: 5px
		}
		.header, .instruction {
			text-align: center;
		}
		.header {
			font-size: 1.3em;

		}
		.instruction {
			font-size: 0.9em;
		}
	}
	.filter-panels {
		.filter-panel {
			display: inline-block;
			width: 100%;
			padding-top: 5px;

			li {
				width: 100%;
				float: left;
				height: 26px;

				input {
			    width:25px;
			    height:25px;
			    border-radius:5px;
			    border: 1px solid rgba(237, 237, 237, .8);
				}

				input[type='checkbox'] + label {
					color: $panel-mule-unselected-text;
				}

				input[type='checkbox']:checked + label {
					font-style: normal;
					color: $panel-mule-text;
				}

				label {
					font-size: .85em;
					vertical-align: middle;
					margin-bottom: 11px;
				}
			}
		}
	}
}