.container.movers{
  padding-top: 20px;
}



.mover-detail-list {
  @extend .list-group;
  li {
    @extend .list-group-item;
    font-size: 0.9em;
    padding: 5px;
  }
  .mover-detail-list-heading {
    background-color: darken($mule-aqua,5%);
    color: white;
    font-weight: bold;
  }
}
