.container.movers{
  padding-top: 20px;
}

.panel-mule {
  @extend .panel;
  @include panel-variant(white, $panel-mule-text, $panel-mule-heading-bg, $panel-mule-border);
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  &:hover {
    border-width: 1px;
    border-color: $panel-mule-border;
    background-color: darken(white, 2%);
    transition: all 0.5s;
  }

  img {
    margin: 20px auto;
  }
}
