.container.movers{
  padding-top: 20px;
}

.panel-mule {
  @extend .panel;
  @include panel-variant($panel-mule-border, $panel-mule-text, $panel-mule-heading-bg, $panel-mule-border);
  border-width: $panel-mule-border-width;

  &:hover {
    border-color: darken($panel-mule-border, 20%);
    background-color: darken(white, 2%);
    transition: all 0.5s;
  }

  img {
    margin: 20px auto;
  }
}
