.from-to, .display-count {
  width: auto;
}

.from-to {
  float: left;
}

.display-count {
  float: right;
}

.panel-heros {
  img {
    margin: 20px auto;
  }
}

.mule-panel {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 10px;

  background-color: white;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; /* future proofing */
  border: 1px solid #888888;
  padding-bottom: 20px;

  .dropdown {
    li {
      list-style: none;
    }
    .services-sidebar {
      .filter-panel {
        float: left;
        padding-left: 10px;
      }
    }
  }
}

.panel-mover-index {
  margin: 0 auto;
  height: 140px;

  .index-hero {
    max-height: 134px;
  }

  .icon {
    img {
      height: 50px;
      width: 50px;
      float: left;
    }
    small {
      line-height: 50px;
      padding-left: 12px;
    }
  }
  .icon-description {
    font-size: 12px;
    line-height: 45px;
    padding-left: 60px;
  }
  .actions {
    margin-top: 10px;

    a:first-child{
      float: right;
      margin-left: 10px;
    }
  }
}

.panel-mover-detail {
  box-shadow: none;

  div[class*='col-']{
    padding-left: 5px;
    padding-right: 5px;
  }

  .panel-heading {
    @include border-top-radius(10px);
    width: 50%;
    padding: 5px 15px;
  }

  .panel-body {
    @include border-top-radius(0px);
    @include border-bottom-radius(0px);
    border: 1px solid $mule-aqua;
  }
}
