/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker3
 *= require base
 */

$mule-aqua:               #43C1C7;
$mule-color:              $mule-aqua;
$brand-primary:           $mule-aqua; // this overwrites bootstraps primary color
$panel-mule-border:       $mule-color;
$panel-mule-border-width: 3px;
$panel-mule-text:         black;
$panel-mule-heading-bg:   white;

$container-desktop:       850px;
$container-large-desktop: 850px;


@import 'bootstrap';
@import 'components/mixins';
@import 'components/navigation';
@import 'components/landing_hero';
@import 'components/lists';
@import 'components/panels';
@import 'components/star_rating';
@import 'components/icons';
